.navigation{
    background-color: #fefdfc;
    height: 4.5em;
    max-width: 1360px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5em;
    margin: auto;
}
.nav-link{
    color: #232115;
    text-decoration: none;
    
}
.nav-ctnr ul{
    list-style: none;
    display: flex;
    align-items: center;
}
.nav-separater{
    height: 24px;
    width: 1px;
    margin: 9px .5em;
    background-color: #2a1d3092;
}

.nav-ctnr{
    display: flex;
    justify-content: center;
}
.nav-item{
    gap: 2px;
    padding: 9px 14px ;

}
.nav-auth{
    gap: 8px;
    
}
.hb{
    height: 36px;
    width: 36px;
    padding: 9px;
}
@media( max-width: 960px) {
    .hb{
        display: flex;
    }
    .nav-item{
        display: none;
    }

}